#ChangeLoginBtn, #loginBtn, #ChangeJoinBtn, #joinBtn {
	-fx-background-color: #000;
	-fx-text-fill: #fff;
}

#NarrationBack {
	-fx-background-color: #000;
}

/* Start */
#StartBack {
	-fx-background-image: url('/imgs/Start.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#StartBtn, #EndProgram, #commentH, #commentG, #commentK, #commentI, #EndSave {
	-fx-background-color: #00ff0000;
	-fx-border-style: none;
}
#EndProgram, #EndSave {
	-fx-background-image: url('/imgs/window.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#IndexBack {
	-fx-background-image: url('/imgs/Index.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#NewGame, #LoadGame, #EndGame {
	-fx-border-style: none;
	-fx-background-color: #000;
	-fx-text-fill: #fff;
}

#testBack {
	-fx-background-image: url('/imgs/BackImg/Map003.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}
.btn {
	-fx-background-color: transparent;
}


/* �뮮 諛곌꼍 寃��젙�깋 泥섎━ */

#Level1Back {
	-fx-background-image: url('/imgs/BackImg/Map012.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
	-fx-background-color: #000;
}

#Level2Back {
	-fx-background-image: url('/imgs/BackImg/Map006.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
	-fx-background-color: #000;
}

#Level3Back {
	-fx-background-image: url('/imgs/BackImg/Map007.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
	-fx-background-color: #000;
}

#BasicBack {
	-fx-background-image: url('/imgs/BackImg/Map003.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
	-fx-background-color: #000;
}
#StartIllustBack {
	-fx-background-image: url('/imgs/Start.jpg');
	-fx-background-size: cover;
	-fx-background-position: center center;
	-fx-background-color: #000;
}

#DeepBack {
	-fx-background-image: url('/imgs/BackImg/Map001.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
	-fx-background-color: #000;
}

#SkillsLBack {
	-fx-background-image: url('/imgs/BackImg/Map011.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
	-fx-background-color: #000;
}

#SkillsMBack {
	-fx-background-image: url('/imgs/BackImg/Map008.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
	-fx-background-color: #000;
}

#SkillsRBack {
	-fx-background-image: url('/imgs/BackImg/Map002.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
	-fx-background-color: #000;
}

#SkillsHWBack {
	-fx-background-image: url('/imgs/BackImg/Map010.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
	-fx-background-color: #000;
}

#StartMapBack {
	-fx-background-color: #000;
	-fx-background-image: url('/imgs/battle/Min.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#SYHBack {
	-fx-background-image: url('/imgs/Bad.jpg');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#StartSelectBack {
	-fx-background-color: #000;
}

#EntryBtn {
	-fx-background-color: rgb(37.0, 102.0, 128.0);
	-fx-text-fill: #fff;
}

#ScratchBtn {
	-fx-background-color: rgb(199.0, 60.0, 49.0);
	-fx-text-fill: #fff;
}

#MinBack, #AfterBack {
	-fx-background-color: #000;
	-fx-background-image: url('/imgs/battle/Min.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#NarBtn, #NarraStartBtn {
	-fx-background-image: url('/imgs/Script.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
	
}


/* 諛고� �솕硫� css */

#BattleBack {
	-fx-background-image: url('/imgs/Battle1.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#BtnBattle {
	-fx-background-color: #c73e3a;
	-fx-text-fill: #fff;
	-fx-border-color: #9b4d49;
	-fx-border-width: 5px;
}

#BtnBag {
	-fx-background-color: #8b6415;
	-fx-text-fill: #fff;
	-fx-border-color: #ae8b41;
	-fx-border-width: 10px;
}

#BtnRun {
	-fx-background-color: #0c3b63;
	-fx-text-fill: #fff;
	-fx-border-color: #296b87;
	-fx-border-width: 10px;
}

#BtnChg {
	-fx-background-color: #377215;
	-fx-text-fill: #fff;
	-fx-border-color: #589a37;
	-fx-border-width: 10px;
}

#Btn1, #Btn2, #Btn3, #Btn4 {
	-fx-background-color: #bfb1c5;
	-fx-border-color: #faf5fb;
	-fx-border-width: 3px;
}
#SaveBack {
	-fx-background-image: url('/imgs/Save.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#SaveBtn {
	-fx-background-color: #000;
	-fx-text-fill: #fff;
}

#SavePane {
	-fx-background-color: #fff;
}

#user_date {
	-fx-background-color: #eee;
}

#ClearBack {
	-fx-background-image: url('/imgs/Right.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#SubmitBack {
	-fx-background-color: #000;
}