/* 로그인 화면 */
#ChangeLoginBtn, #loginBtn, #ChangeJoinBtn, #joinBtn {
	-fx-background-color: #000;
	-fx-text-fill: #fff;
}

/* Start 화면 */
#StartBack {
	-fx-background-image: url('/imgs/Start.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#StartBtn {
	-fx-background-color: #00ff0000;
	-fx-border-style: none;
}

#IndexBack {
	-fx-background-image: url('/imgs/Index3.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#NewGame, #LoadGame, #Setting, #EndGame {
	-fx-border-style: none;
	-fx-background-color: #00ff0000;
	-fx-font-size: 15px;
	-fx-font-weight: 800;
	-fx-text-fill: #8487ff;
}

#testBack {
	-fx-background-image: url('/imgs/BackImg/Map003.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}