/* 로그인 화면 */
#ChangeLoginBtn, #loginBtn, #ChangeJoinBtn, #joinBtn {
	-fx-background-color: #000;
	-fx-text-fill: #fff;
}

#NarrationBack {
	-fx-background-color: #000;
}

/* Start 화면 */
#StartBack {
	-fx-background-image: url('/imgs/Start.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#StartBtn, #EndProgram, #commentH, #commentG, #commentK, #commentI {
	-fx-background-color: #00ff0000;
	-fx-border-style: none;
}
#EndProgram {
	-fx-background-image: url('/imgs/window.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#IndexBack {
	-fx-background-image: url('/imgs/Index.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#NewGame, #LoadGame, #Setting, #EndGame {
	-fx-border-style: none;
	-fx-background-color: #000;
	-fx-text-fill: #fff;
}

#testBack {
	-fx-background-image: url('/imgs/BackImg/Map003.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}
.btn {
	-fx-background-color: transparent;
}

#Level1Back {
	-fx-background-image: url('/imgs/BackImg/Map007.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#Level2Back {
	-fx-background-image: url('/imgs/BackImg/Map006.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#Level3Back {
	-fx-background-image: url('/imgs/BackImg/Map012.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#BasicBack {
	-fx-background-image: url('/imgs/BackImg/Map003.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}
#StartIllustBack {
	-fx-background-image: url('/imgs/Start.jpg');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#DeepBack {
	-fx-background-image: url('/imgs/BackImg/Map001.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#SkillsLBack {
	-fx-background-image: url('/imgs/BackImg/Map011.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#SkillsMBack {
	-fx-background-image: url('/imgs/BackImg/Map008.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#SkillsRBack {
	-fx-background-image: url('/imgs/BackImg/Map002.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#SkillsHWBack {
	-fx-background-image: url('/imgs/BackImg/Map010.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}

#StartMapBack {
	-fx-background-color: #000;
	-fx-background-image: url('/imgs/battle/Min.png');
	-fx-background-size: cover;
	-fx-background-position: center center;
}